<h2 class="text-center">Please wait - connecting with QuickBooks...</h2>
@section Scripts
{
<script type="text/javascript"
        src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.3.js">
</script>
    
    <script type="text/javascript">
        $(function () {
            intuit.ipp.anywhere.setup(
            {
                grantUrl: '@ViewBag.StartURL',
                datasources: { quickbooks: true, payments: false }
            });
            intuit.ipp.anywhere.directConnectToIntuit();
        });
    </script>
}