<h2 class="text-center">Please wait - connecting with QuickBooks...</h2>
@section Scripts
{   
    <script type="text/javascript">
        $(function () {
            intuit.ipp.anywhere.directConnectToIntuit();
        });
    </script>
}